<launch>
  <!--Load the joint controllers to param server-->
  <rosparam file="$(find pcl_ros_cluster_segmentation)/config/controllers.yaml" command="load"/>

  <!--Load controllers-->
  <node name="spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/pcl_ros_cluster_segmentation" args="joint_state_controller
    pan_position_controller
    tilt_position_controller"/>
</launch>
